.btn {
    position: relative;
    background: transparent;
    color: #000;
    border: 1px solid #000;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    width: 100%;
    max-width: 168px;
    height: max-content;
    min-height: 47px;
    padding: 7px 17px;
    cursor: pointer;
    transition-duration: .2s;
    margin: 5px 0;
}

.btnr {
    position: relative;
    background: transparent;
    color: #000;
    border: 1px solid #000;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    width: 100%;
    max-width: 168px;
    height: max-content;
    min-height: 37px;
    padding: 7px 17px;
    cursor: pointer;
    transition-duration: .2s;
    margin: 5px 0;
}

.main-btns {
    display: flex;
    width: 35%;
    margin: 0 0 0 140px;
    justify-content: space-around;
}
.main__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 50px;
    gap: 10px;
    &-black {
        background-color: #000;
        color: #fff;
        width: 180px;
        border: 2px solid #000;
        &:hover {
            background-color: transparent;
            border-color: #000;
            color: #000;
        }
    }
    &-transparent {
        background-color: transparent;
        width: 209px;
        border: 2px solid #000;
        &:hover {
            background-color: orangered;
            border-color: orangered;
            color: #fff;
        }
    }
}

.btn-honey {
    display: inline-flex;
    padding: 15px 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    background: #E58311;
    border: #E58311;
    &:hover {
        background-color: orangered;
        border-color: orangered;
        color: #fff;
    }
}

.btn-boxes {
    margin-top: 10px;
    display: inline-flex;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border: 1.5px solid #E58211;
    color: #E58211;
}